{% extends "interface.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block contenu %}
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Add Benef">
    {{ form_end(form) }}

{% endblock contenu %}
