{% extends 'interface.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block contenu %}

{% if not editMode %}
    <h1>Création d'un compte</h1>
{% else %}
    <h1>Modification d'un compte</h1>
{% endif %}
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if not editMode %}
            <input type="submit" class="btn btn-success" value="Add">
            {% else %}
            <input type="submit" class="btn btn-success" value="Edit">
        {% endif %}
    {{ form_end(form) }}

{% endblock contenu %}