{% extends 'interface.html.twig' %}

{% block title %}List Account{% endblock %}

{% block contenu %}
    <h1>Liste des comptes</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom Compte</th>
                    <th scope="col">Montant Compte</th>
                    <th>Details</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                    {% for account in accounts %}
                <tr>
                        <th>{{ account.Id }}</th>
                        <th>{{ account.Nom }}</th>
                        <th>{{ account.Balance }}</th>
                        <th><a href="{{ path('transaction_account', {'id': account.id}) }}"><i class="fas fa-eye"></i></a></th>
                        <th><a href="{{ path('delete_transaction', {'id': account.id}) }}"><i class="fas fa-trash-alt"></i></a></th>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
{% endblock contenu %}
