{% extends 'interface.html.twig' %}

{% block title %}List Account de{% endblock %}

{% block contenu %}

   <h3>Transaction de départ</h3>
   <table class="table table-dark">
       <tr>
           <th>id</th>
           <th>montant</th>
           <th>compte d’arrive</th>
       </tr>

   {% for transaction in account.departureTransactions %}
       <tr>
           <td>{{ transaction.id }}</td>
           <td>{{ transaction.amount }}</td>
           <td>{{ transaction.arrivalAccount.nom }}</td>
       </tr>
   {% endfor %}
   </table>

   <h3>Transaction d’arrivé</h3>
   <table class="table table-dark">
       <tr>
           <th>id</th>
           <th>montant</th>
           <th>compte de départ</th>
       </tr>

   {% for transaction in account.arrivalTransactions %}
       <tr>
           <td>{{ transaction.id}}</td>
           <td>{{ transaction.amount }}</td>
           <td>{{ transaction.departureAccount.nom }}</td>
       </tr>
   {% endfor %}
   </table>

   <a href="{{ path('add_beneficiaire', {'id': account.id})}}"><input type="submit" value="Ajouter Beneficiaire" class="btn btn-success"></a>

   <br/>
   <h3>Liste des Beneficiaires</h3>
   <table class="table table-dark">
    <tr>
        <th>Id</th>
        <th>Nom</th>
    </tr>

    {% for beneficiaire in account.beneficiaire %}
        <tr>
            <td>{{ beneficiaire.id}}</td>
            <td>{{ beneficiaire.nom }}</td>
        </tr>
    {% endfor %}
</table>


{% endblock contenu %}