{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center; margin-top: 5%; color: #C0C0C0;">Identifiez-vous</h1>
        <hr style="border: 1px solid gray; width: 50%;">

        <form action="{{ path('login') }}" method="post" class="form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}
            <div style="text-align: center">
                <button class="btn btn-primary" type="submit">Connexion</button>
            </div>
            <hr style="border: 1px solid gray; width: 50%;">
            <div style="text-align: center">
                Pas de Compte ? <a href="#" class="inscriver-vous">
                    Inscrivez-Vous
                </a>
            </div>
        </form>
    </div>
{% endblock body %}
