{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center; margin-top: 5%; color: #C0C0C0;">Inscrivez-vous</h1>
        <hr style="border: 1px solid gray; width: 50%;">
        {{ form_start(form, { 'attr': {'class': 'form'} }) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <div style="text-align: center">
                <button class="btn btn-primary" type="submit">S'inscrire</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
