{% extends "base.html.twig" %}

{% block title %}Administration{% endblock title %}

{% block body %}
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Gestion Compte</h3>
                <strong>GC</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#Account" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-home"></i>
                        Account
                    </a>
                    <ul class="collapse list-unstyled" id="Account">
                        <li>
                            <a href="{{ path('list_account') }}">Liste des Accounts</a>
                        </li>
                        <li>
                            <a href="{{ path('create_account')}}">Ajout Account</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                        <a href="#Transaction" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-home"></i>
                            Transaction
                        </a>
                        <ul class="collapse list-unstyled" id="Transaction">
                            <li>
                                <a href="{{ path('liste_transaction') }}">Liste des Transactions</a>
                            </li>
                            <li>
                                <a href="{{ path('create_transaction')}}">Ajout Transaction</a>
                            </li>
                        </ul>
                </li>
            </ul>
            

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="lien">Lien</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Bonjour, {{ nomUser }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block contenu %}
                
            {% endblock contenu %}

        </div>
    </div>

{% endblock %}