{% extends 'interface.html.twig' %}

{% block title %}Liste Transactions{% endblock %}

{% block contenu %}
    <h1>Liste des transactions</h1>

    <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Amount</th>
                    <th>date</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                    {% for transaction in transactions %}
                <tr>
                        <th>{{ transaction.id }}</th>
                        <th>{{ transaction.amount }}</th>
                        <th>{{ transaction.date|date('Y-m-d') }}</th>
                        <th><a href="{{ path('delete_transaction', {'id': transaction.id}) }}"><i class="fas fa-trash-alt"></i></a></th>
                    {% endfor %}
                </tr>
            </tbody>
    </table>
{% endblock contenu %}
